
@media (max-width: 800px) {
	.home-section {
		margin: 0 10px;
		font-size: 0.9em;
	}

	.services--content,
	.works {
		margin: 0 10px;
	}

	.get-contact--container {
		padding-top: 10px;
	}
}

@media (max-width: 720px) {
	.nav {
		width: 75%;
		margin: auto;
	}

	.nav--link--works {
		display: flex;
	}

	.services {
		padding-bottom: 0;
	}
	.nav--menu {
		width: 200px;
	}
}

@media (max-width: 600px) {
	.get-contact--button {
		margin-top: 260px;
	}
	.gallery--element:not(:last-child) {
		margin-right: 10px;
	}

	.gallery--block {
		margin-bottom: 15px;
	}

	.services--content--block1,
	.services--content--block2 {
	margin-right: 15px;
	}

}




/*

@media (max-width: 660px) {
	.header {
		height: 500px;
	}
	
	.services {
		font-size: 0.9em;
	}

	.services--heading {
		margin: 40px 0 25px 0;
	}

	.about--heading {
		margin: 40px 0 25px 0;
	}
	
	.works--heading {
		margin: 40px 0 25px 0;
	}

	.get-contact {
		height: 300px;
	}

	footer {
		height: 100px;
	}

	.nav {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	
	.home--heading {
		font-size: 0.7em;
	}

	.services--content {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}

	.services--content--block1,
	.services--content--block2,
	.services--content--block3 {
		width: 75%;
		margin-right: 0;
	}
	
	
	.about--paragraph {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}
	
	.about--link--linkedin, 
	.about--link--google, 
	.about--link--twitter, 
	.about--link--facebook {
		display: block;
	}

	.about--paragraph--text:first-child {
		margin-right: 0;
	}

	.about--paragraph--text {
		width: 90%;
		margin-bottom: 20px;
	}

	.about--heading--paragraph,
	.services--heading--paragraph,
	.home--heading h1,
	.home--paragraph p {
		width: 90%;
		text-align: center;
	}

	.about {
		height: 1200px;
	}

	.about--groupment {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.about--block:nth-child(odd) {
		margin-right: 0;
	}

	.about--list,
	.gallery {
		width: 90%;
	}

	.gallery--block {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
		margin: 0;
	}
	
	.gallery--element:not(:last-child) {
	margin-right: 0;
	}

	.gallery--element {
		margin-bottom: 10px;
		vertical-align: top;
	}

	.gallery--element--background {
		display: block;
	}

	.get-contact--background {
		display: block;
	}
	
	.maps {
		width: 90%;
		margin: auto;
	}
}


@media (max-width: 480px) {
	header {
		height: 450px;
	}

	.nav--menu {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}
	
	.nav--menu div {
		margin-bottom: 10px;
	}

	.nav--link {
		margin-left: 0;
	}

	.home--information {
		-webkit-box-pack: start;
		    -ms-flex-pack: start;
		        justify-content: flex-start;
		height: 300px;
	}

	.home--number {
		margin-top: 20px;
	}

	.home--paragraph {
		font-size: 0.8em;
	}
	
	.home--heading {
		font-size: 0.5em;
	}

	.services--heading {
		margin: 20px 0 20px 0;
	}

	.about--list {
		display: none;
	}
	
	.about--container{
		font-size: 0.7em;
	}

	.about {
		height: 400px;
	}

	.works {
		font-size: 0.7em;
	}
	
	.get-contact--container {
		font-size: 0.7em;
		left: 50px;
		right: 50px;
	}
	
	.maps {
		font-size: 0.7em;
	}

	.maps iframe {
		height: 250px;
	}

}

@media (max-width: 350px) {
	.services {
		font-size: 0.8em;
	}

	.about {
		height: 450px;
	}
}*/