
@media (max-width: 800px) {
	.home-section {
		margin: 0 10px;
		font-size: 0.9em;
	}

	.services--content,
	.works {
		margin: 0 10px;
	}

	.get-contact--container {
		padding-top: 10px;
	}
}

@media (max-width: 720px) {
	.nav {
		width: 75%;
		margin: auto;
	}

	.nav--link--works {
		display: flex;
	}

	.services {
		padding-bottom: 0;
	}
	.nav--menu {
		width: 200px;
	}
}

@media (max-width: 600px) {
	.get-contact--button {
		margin-top: 260px;
	}

	.gallery--element:not(:last-child) {
		margin-right: 10px;
	}

	.gallery--block {
		margin-bottom: 15px;
	}

	.gallery {
		margin-top: 0;
	}

	.works--heading {
		margin: 10px;
	}

	.services--content--block1,
	.services--content--block2 {
	margin-right: 15px;
	}

	.get-contact--container {
		font-size: 1.1em;
	}
}

@media (max-width: 450px) {
	.services--content {
		flex-direction: column;
		align-items: center;
	}

	.nav {
		flex-direction: column;
		align-items: center;
	}

	.services--content--block1,
	.services--content--block2,
	.services--content--block3 {
		width: 75%;
	}

	.home--number {
		margin-top: 40px;
	}

	.button--start {
		margin-bottom: 50px;
	}

	.home--heading h1 {
		font-size: 1.5em;
	}

	.gallery--element--heading {
		margin: 0;
	}

	.gallery--element--background {
		font-size: 0.8em;
	}

	.services--heading--paragraph {
		font-size: 1em;
	}

	.gallery--element--button {
		display: none;
	}
}



