
body {
	font-family: 'roboto', Arial, sans-serif;
	margin: 0;
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

/* .....................header.......................... */

.header {
	background-image: url(../image/mehanik-devushka-remont-garazh.jpg);
	width: 100%;
	background-size: cover;
	background-position: center;
	padding-top: 30px;
}

.nav {
	display: flex;
	justify-content: space-between;
	font-size: 1.6em;
}

.home-section {
	max-width: 940px;
	margin: auto;
}

.nav--logo {
	color: white;
}

.nav--menu {
	display: flex;
	align-items: center;
	padding-top: 7px;
	flex-wrap: wrap;
}

.nav--link {
	color: white;
	margin-left: 35px;
}

.nav--link:hover {
	color: #f4abab;
}


.home--information {
	text-transform: capitalize;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 80px;
}

.home--heading {
	display: flex;
	width: 100%;
	justify-content: center;
}

.home--heading h1 {
	margin: 0;
}

.home--paragraph {
	display: flex;
	justify-content: center;
}

.home--paragraph p {
	margin-top: 5px;
}

.home--number {
	text-align: center;
	font-weight: bold;
	margin-top: 80px;
	font-size: 1.5em;
}

.home--number a {
	color: white;
}

.home--number a:hover {
	color: #f4abab;
}

.home--number a:active {
	color: #f76060;
}

.home--button {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}

.button--start {
	border: 1px solid white;
	width: 170px;
	height: 45px;
	background: transparent;
	color: white;
	outline: none;
	cursor: pointer;
	margin-bottom: 120px;
}

.button--start:hover {
	font-size: 1.2em;
	border: 1px solid white;
	width: 180px;
	background: transparent;
	color: #f4abab;
}

/* ..................services.................... */

.services {
	max-width: 940px;
	margin: auto;
	padding-bottom: 30px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.services--heading {
	margin: 30px 0 25px 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.services--heading--paragraph {
	font-size: 1.2em;
}

.services--hr {
	height: 2px;
	width: 50px;
	margin: 0 45% 0 45%;
    border: 0;
    box-shadow: inset 0 12px 12px -10px rgba(0, 0, 0, 1);
}

.services--heading--text {
	display: flex;
	justify-content: center;
	width: 100%;
}

.services--content {
	display: flex;
	justify-content: space-between;
}

.services--content--block1,
.services--content--block2 {
	display: flex;
	flex-direction: column;
	margin-right: 30px;
	align-items: center;
	width: 33.3%;
	box-sizing: border-box;
}

.services--content--block3 {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 33.3%;
	box-sizing: border-box;
}

.services--content--heading h4 {
	margin: 20px 0 0 0;
}

.services--content--paragraph {
	text-align: justify;
}

/* ............works........... */

.works {
	margin: auto;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	margin-bottom: 20px;
}

.works--heading {
	margin: 30px 0 25px 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.works--hr {
	height: 2px;
	width: 60px;
	margin: auto;
    border: 0;
    box-shadow: inset 0 12px 12px -10px rgba(0, 0, 0, 1);
}

.works--heading--text {
	display: flex;
	justify-content: center;
	width: 100%;
}

.gallery {
	display: flex;
	flex-direction: column;
	margin-top: 30px;
}

.gallery--block {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.gallery--element {
	max-width: 290px;
	max-height: 190px;
	vertical-align: top;
	position: relative;
}

.gallery--element--background {
	background-image: url(../image/Rectangle-9.png);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
	color: white;
	display: none; 
} 

.gallery--element:hover .gallery--element--background {
	display: block;
}

.gallery--element:not(:last-child) {
	margin-right: 30px;
}

.gallery--element img {
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
}

.gallery--element--heading {
	margin: 18% 0 10px 0;
}

.gallery--element--button {
	background: white;
	margin: auto;
	min-width: 55px;
	max-width: 80px;
}

.button--view {
	color: #c0301c;
	font-size: 0.8em;
	padding: 2px;
}

.button--view img {
	width: 6px;
	height: 10px;
}

/*..........get-contact........ */

.get-contact {
	background-image: url(../image/car-repair-362150_1280.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 360px;
	position: relative;
}

.get-contact--container {
	font-size: 1.5em;
	color: white;
	text-align: center;
	padding-top: 50px;
	position: absolute;
	left: 100px;
	right: 100px;
}

.get-contact--background {
	background-image: url(../image/Rectangle-9.11.png);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	background-position: center;
	background-size: cover;
}

.get-contact--button {
	border: 1px solid white;
	width: 170px;
	height: 45px;
	background: transparent;
	color: white;
	outline: none;
	cursor: pointer;
	margin: auto;
	margin-top: 200px;
	text-align: center;
	padding-top: 15px;
}

.get-contact:hover .get-contact--background {
	display: block;
}

/* ......maps........ */

.iframe {
	display: block;
	border: 1px solid black;
}

.maps-header {
	background: #333;
	color: white;
	padding: 30px;
	margin: auto;
	border-radius: 25px;
	text-align: center;
	width: 80%;
}

/* .........footer............ */

footer {
	width: 100%;
	height: 200px;
	background: #c0301c;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center
}

.footer--icons img {
	border: 1px solid white;
	border-radius: 50%;
	padding: 3px;
	margin-right: 5px;
}

.footer--hr {
	height: 2px;
	width: 50px;
	margin: 15px 45% 0 45%;
    border: 0;
    box-shadow: inset 0 12px 12px -10px white;
}

.footer--logo-name {
	margin-top: 20px;
	color: white;
	font-size: 0.8em;
}




